*{
    padding: 0;
    margin: 0;
}

body{
    background: linear-gradient(to right bottom , rgba(112, 199, 214, 1), rgba(214, 112, 197, 1));
}


.container{
    height: 650px;
    width: 80%;    
    margin: 70px auto;
    background: linear-gradient(to right bottom , rgba(225, 225, 225, 0.7),  rgba(225, 225, 225, 0.3));
    border-radius: 20px;        
}

.box1{
    background: linear-gradient(to right bottom , rgba(225, 225, 225, 1),  rgba(225, 225, 225, 0.5));
    border-radius: 20px;
    height: 100%;
    width: 20%;
    float: left;
    z-index: 10;
}

.box2{    
    height: 100%;
    width: 80%;    
    border-radius: 20px;
    float: right;    
}



/* Class box1 */

.box1 img{
    width: 150px;
    border-radius: 50%;    
}

.foto{
    margin-left: 20%;
    margin-top: 60px;
    width: 150px;        
}

.foto h4{
    text-align: center;
    margin-top: 15px;
}

.foto p{
    font-size: 14px;
    text-align: center;
}

/* .sosmed{
    background-color: aqua;
} */

.sosmed li{
    list-style: none;
    text-align: center;
    margin-top: 10px;
}

.sosmed img{
    width: 80px;    
}

.sosmed img:hover {
    transition: 300ms;
    margin-right: -10px;
}

/* Class box1 */




/* Class box2 */

.box2 h1{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    display: block;    
}



/* Akhir Class box2 */

/* class projects */

.projects{    
    height: auto;
    width: 100%;
}

.project{    
    height: auto;
    width: 50%;   
    margin-bottom: 50px;
    float: left;    
}

.project img{
    width: 90%;  
    margin-left: 5%;      
    border-radius: 20px;    
}

/* Akhir class projects */









/* .box1{
    background-color: aquamarine;
    height: 100%;
    width: 100px; 
    float: left;           
}

.box2{
    background-color: cadetblue;
    height: 100%;
    width: 150px;
    position: relative;
    left: 100px;
} */

/* 
.circle1{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: absolute;                
    top: 10px;
    right: 10px;
    backdrop-filter: blur(10px);    
} */